.promo {
    padding-bottom: 72px;
    background-color: #F9F9F9;
    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &-item {
        &__title {
            margin-left: -5px;
            margin-top: 214px;
            font-size: 64px;
            &_dot {
                font-size: 70px;
            }
        }
        &__descr {
            margin-top: 20px;
            max-width: 500px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: $color-descr;
            span {
                color: $main-color;
            }
        }
        &__links {
            margin-top: 172px;
            display: flex;
            align-items: center;
            a {           
                margin-right: 82px;
                &:nth-child(3) {
                    padding-top: 14px;
                }
                img {
                    display: block;
                }
            }
        }
        &__photo {
            margin-bottom: -20px;
        }
    }
}

@media screen and (max-width: 1550px) {
    .promo {
        padding-bottom: 40px;
        overflow: hidden;
        &-item {
            &__title {
                margin-top: 138px;
            }
            &__descr {
                font-size: 16px;
            }
            &__links {
                margin-top: 158px;
                a {
                    width: 80px;
                    margin-right: 55px;
                    img {
                        width: 100%;
                    }
                }
            }
            &__photo {
                margin-top: 59px;
                width: 450px;
                margin-bottom: -59px;
                img {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .promo {
        &-item {
            max-width: 100%;
            &__title {
                margin-top: 165px;
                line-height: 48px;
            }
            &__descr {
                max-width: unset;
            }
            &__photo {
                display: none;
            }
            .btn {
                width: 161px;
                height: 60px;
            }
            &__links {
                max-width: 100%;
                justify-content: space-between;
                a {
                    width: unset;
                    margin-right: 10px;
                }
            }
        }
    }
}